body {
  background-color: black;
  color: white;
  text-align: center;
}

.container {
  border: white 1px solid;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
}

.bar {
  width: 8px;
  background-color: blue;
  margin: 0 2px;
}
